*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #EA4335;
}
body{
    display: block;
}
.mask{

    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
}
img{
    max-width: 100% ;
}
.nav{
    height: 30%;
    padding: 2rem 1rem 2rem 1rem;

    z-index: 10;
}

.brandContainer{
    width: 30%;

}
.logo,.logo-divider,.logoname{
    float: left;
    margin-left: 0.5rem;

}

.navMenu{
    float: right;
    position: relative;
}
.smallMenu{
    display: block;
    margin-top: 0.5rem;
    float: right;
    visibility: hidden;
}
.navMenu a{
    font-size: 0.65rem;
    text-decoration: none;
    margin-left: 0.1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    color: #ffffff;
}
.navMenu .active{
    color: #EA4335;
    background-color: #ffffff;
    border-radius: 0.3rem;
}
.navOpenMenu{
    position: absolute;
    overflow: hidden;
    z-index: 1;
    left: -10rem;
    top: 0;
}
.navOpenMenu a{
    display: block;
    text-decoration: none;
    line-height: 2rem;
    text-align: center;
    color: #ffffff;
    margin-top: 3rem;
    font-size: 1rem;
    text-transform: uppercase;

}
.navOpenMenu .active{
    color: #EA4335;
}




.logoname{
    font-size: 0.65rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0.6rem;
    margin-bottom: 1rem;
    color: #ffffff;

}

.container{
    height: 100%;
    margin: 1rem;
    padding-top: 1rem;
    border: 0.05rem solid #ffffff;
}

.eachResume{
    box-sizing: border-box;
    border-bottom: 0.05rem solid #ffffff;
    text-align: center;
    position: relative;
    padding: 3rem;

}


.eachResume a{
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
}
.eachResume a h2{
    font-size: 0.8rem;
    color: #ffffff;
    margin-top: 0.5rem;
}
.eachResume a img {
    max-width: 80%  ;
    border: 0.05rem solid #ffffff;
    border-radius: 0.5rem;
    overflow: hidden;

}
.eachResume a:nth-child(2){
    margin: 5rem;
}

.container h1{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 8rem 0 8rem 0;
    text-shadow: 1px 1px #000;
}
.container h1:hover{
    font-size: 2.1rem;
}


@media (max-width: 1199px){
    /*<=1199的设备 */

}

@media (max-width: 1024px){
    /*<=1199的设备 */

}

@media (max-width: 991px){
    /*<=991的设备*/
    .eachResume a h2{
        font-size: 0.6rem;
    }
    .eachResume a:nth-child(2){
        margin: 2.3rem;
    }
    .navMenu{
        display: none;
    }
    .smallMenu{
        width: 10%;
        visibility: visible;
    }
    .navOpenMenu a{
        margin-top: 1rem;
        font-size: 0.5rem;

    }

}
@media (max-width: 767px){
    /*<=768的设备*/

}

@media (max-width: 767px){
    /*<=768的设备*/


}

@media (max-width: 640px){
    /*<=768的设备*/
    .eachResume a:nth-child(2){
        margin: 1.0rem;
    }
    .navOpenMenu a{
        margin-top: 0.5rem;
        font-size: 0.5rem;

    }
    .logo,.logo-divider,.logoname{
        font-size: 0.5rem;
    }
}

@media (max-width: 415px){
    /*<=768的设备*/

    .eachResume{
        padding: 0.5rem;
    }
    .eachResume a h2{
        font-size: 0.2rem;
    }
    .eachResume a:nth-child(2){
        margin: 0.2rem;
    }
    .container h1{
        margin: 4rem 0 4rem 0;
        font-size: 1rem;
    }
    .navOpenMenu a{
        margin-top: 1rem;
        font-size: 0.5rem;

    }
}